<tr>
  <td><i class="fa <%= paste_visibility_icon(paste) %>"></i>
    <%= link_to paste.title, paste %></th>
    <td><%= paste.created_at %></td>
  <td><%= paste.views %></td>
  <td><%= paste.language %></td>
</tr>
