<h1><%= @paste.title %></h1>
<p><%= @paste.content %></p>
<%= link_to 'back to all pastes', pastes_path %>
<%= link_to 'edit', edit_paste_path(@paste) %>
<%= link_to 'delete', @paste, method: :delete, data: { confirm: 'Are you sure?' } %>
